body {
  margin: 0;
  padding: 0;
  background: url('weather2.jpg') center/cover fixed no-repeat;
  transition: background-color 0.5s ease;
  

}

body:hover {
  background-color: #b0d4f1;
}

.App {
  text-align: center;
  margin-top: 10px;
  background-color: rgba(34, 107, 158, 0.5);
  padding: 20px;
  animation: App-rotate 5s linear infinite; /* Add rotation animation */
  overflow: hidden; /* Hide overflowing content during rotation */
}



@keyframes App-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #4b86b4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
